@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(25, 63, 75);
    --primary-color-red: rgb(228, 133, 133);
    --primary-color-green: rgb(108, 202, 124);
    --primary-color-yellow: rgb(228, 226, 133);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button{
    border-color: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primary-color-darker);
}

.ruim, .normal{
    background: var(--primary-color-red);
    color: #e01515;
    padding: 10px 20px;
}

.normal{
    background: var(--primary-color-green);
    color: #15801e;
}
